.form-login {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.form-signup {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.form-reset {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}
