<h1>Reset Password</h1>
<form class="form-reset-password" action="/reset-password" method="POST">
  <div class="form-control">
    <label for="email">E-mail: </label>
    <input
      class="<%= errorMessages && errorMessages.email ? "invalid" : "" %>"
      type="email"
      name="email"
      id="email"
      placeholder="Enter your email"
    />
  </div>
  <%- include("../partials/csrf-token-input") %>
  <button class="btn" type="submit">Reset Password</button>
</form>
