<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
      }
      h2 {
        color: #333;
      }
      strong {
        color: #555;
      }
      a {
        color: #007bff;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Hello <%= username %>!</h2>
      <p>
        You've requested a password reset. To set a new password, click the
        following <i><a href="<%= linkPath %>">Link</a></i
        >.
      </p>
      <p>
        <strong>
          <em>Please be aware that this link will expire in 5 minutes.</em>
        </strong>
      </p>
    </div>
  </body>
</html>
