<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to the SHOP</title>
  </head>
  <body>
    <h2>Hello <%= username %>!</h2>
    <p>
      <strong>We're glad to have you on board at SHOP!</strong>
    </p>
    <p>
      Thank you for signing up and being a part of our community. Happy
      shopping!
    </p>
  </body>
</html>
