<h1 class="error__h1">Internal Server Error</h1>
<div class="error-content">
  <p>
    We're sorry, but something went wrong on our end. Our team has been
    notified, and we're working to fix the issue as soon as possible. Please try
    again later, or contact us if the problem persists. We apologize for any
    inconvenience.
  </p>
</div>
