<h1>Login</h1>
<form class="form-login" action="/login" method="POST">
  <div class="form-control">
    <label for="email">E-mail: </label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Enter your email"
    />
  </div>
  <div class="form-control">
    <label for="password">Password: </label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Enter your password"
    />
  </div>
  <%- include("../partials/csrf-token-input") %>
  <button class="btn" type="submit">Login</button>
</form>
