<h1>New Password</h1>
<form class="form-reset-password" action="/new-password" method="POST">
  <div class="form-control">
    <label for="newPassword">New Password: </label>
    <input
      type="password"
      name="newPassword"
      id="newPassword"
      placeholder="Enter your new password"
    />
  </div>
  <div class="form-control">
    <label for="confirmPassword">Confirm Password: </label>
    <input
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      placeholder="Enter your new password again"
    />
  </div>
  <input type="hidden" name="userId" value="<%= userId %>" />
  <input type="hidden" name="resetToken" value="<%= resetToken %>" />
  <%- include("../partials/csrf-token-input") %>
  <button class="btn" type="submit">Update Password</button>
</form>
