<h1>Signup</h1>
<form class="form-signup" action="/signup" method="POST">
  <div class="form-control">
    <label for="email">E-mail: </label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Enter your email"
    />
  </div>
  <div class="form-control">
    <label for="password">Password: </label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Enter your password"
    />
  </div>
  <div class="form-control">
    <label for="confirmPassword">Confirm Password: </label>
    <input
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      placeholder="Enter your password again"
    />
  </div>
  <%- include("../partials/csrf-token-input") %>
  <button class="btn" type="submit">Signup</button>
</form>
