<h1>Signup</h1>
<form class="form-signup" action="/signup" method="POST">
  <div class="form-control">
    <label for="firstName">First Name: </label>
    <input
      type="text"
      name="firstName"
      id="firstName"
      placeholder="Your first name"
    />
  </div>
  <div class="form-control">
    <label for="lastName">Last Name: </label>
    <input
      type="text"
      name="lastName"
      id="lastName"
      placeholder="Your last name"
    />
  </div>
  <div class="form-control">
    <label for="username">Username: </label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Your username"
    />
  </div>
  <div class="form-control">
    <label for="email">E-mail: </label>
    <input type="email" name="email" id="email" placeholder="Your email" />
    <small class="email-info">example@example.com</small>
  </div>
  <div class="form-control">
    <label for="password">Password: </label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Your password"
    />
    <div class="password-info">
      <p>
        <span class="asterisks">**</span>Password should meet the following
        requirements:
      </p>
      <ul>
        <li>Minimum length of 8 characters</li>
        <li>At least 1 lowercase letter</li>
        <li>At least 1 uppercase letter</li>
        <li>At least 1 symbol</li>
        <li>At least 1 number</li>
      </ul>
    </div>
  </div>
  <div class="form-control">
    <label for="confirmPassword">Confirm Password: </label>
    <input
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      placeholder="Enter your password again"
    />
  </div>
  <%- include("../partials/csrf-token-input") %>
  <button class="btn" type="submit">Signup</button>
</form>
