<main>
  <h1>Welcome to HOME!</h1>
  <form class="user-form" action="/" method="POST">
    <div class="form-control">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
    </div>
    <button type="submit">Add</button>
  </form>
</main>
