<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserList</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__user-list">
          <li class="main-header__user"><a href="/">Home</a></li>
          <li class="main-header__user">
            <a class="active" href="/users">Users</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>User List</h1>
      <form class="user-form" action="/users" method="POST">
        <div class="form-control">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" />
        </div>
        <button type="submit">Add</button>
      </form>
    </main>
  </body>
</html>
